In [335]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
import json

In [336]:
# <<< 
# Extract 
# >>>
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
def getSoup(url):
    response = requests.get(url)
    if response.status_code == 200:
        return BeautifulSoup(response.text, 'html.parser')
soup = getSoup(url)

table = soup.select_one('table.wikitable.sortable')
head = table.select('tr.static-row-header')
body = table.find_all('tr')

In [337]:
# 표의 컬럼 추출
category = ''
organization = []
for i, item in enumerate(head[0].find_all('th')):
    if (i == 0):
        print(item.text, end='')
        category = item.text.strip()
    else:
        print(item.find('a').text)
        organization.append(item.find('a').text)

IndentationError: unexpected indent (1143443539.py, line 5)

In [339]:
regionDf = pd.read_csv('./region.csv')

In [344]:
# Table Parsing
infoAll = []
for rank, row in enumerate(body):
    if rank < 3: continue
    # 한 행의 정보를 담을 리스트
    info = []
    # 불필요한 정보를 제거
    while (row.sup != None):
        row.sup.decompose()
    # 정보 저장
    for idx, item in enumerate(row):
        value = item.text.strip()
        # 빈 셀 스킵
        if (value == ''): continue
        # 해당 기관의 정보가 없으면 예상치와 년도를 모두 0으로 설정
        elif (value == '—'): 
            info.append('0')
            info.append('0')
        # 정상 정보면 저장
        else: info.append(item.text.strip())
    # 문자열로 저장된 정보를 숫자로 변환
    for i in range(1, len(info)):
        # GDP 정보면 float
        if i % 2 != 0: info[i] = float(info[i].replace(',',''))
        # 년도 정보면 int
        else: info[i] = int(info[i].replace(',',''))
    # region 정보를 국가 이름과 매칭
    region = regionDf[regionDf['name'] == info[0]]['region'].values[0]
    info.insert(1, region)
    print(info)
    infoAll.append(info)
    print("---")

['United States', 'Americas', 30337162.0, 2025, 27360935.0, 2023, 25744100.0, 2022]
---
['China', 'Asia', 19534894.0, 2025, 17794782.0, 2023, 17963170.0, 2022]
---
['Germany', 'Europe', 4921563.0, 2025, 4456081.0, 2023, 4076923.0, 2022]
---
['Japan', 'Asia', 4389326.0, 2025, 4212945.0, 2023, 4232173.0, 2022]
---
['India', 'Asia', 4271922.0, 2025, 3549919.0, 2023, 3465541.0, 2022]
---
['United Kingdom', 'Europe', 3730261.0, 2025, 3340032.0, 2023, 3089072.0, 2022]
---
['France', 'Europe', 3283429.0, 2025, 3030904.0, 2023, 2775316.0, 2022]
---
['Italy', 'Europe', 2459597.0, 2025, 2254851.0, 2023, 2046952.0, 2022]
---
['Canada', 'Americas', 2330308.0, 2025, 2140086.0, 2023, 2137939.0, 2022]
---
['Brazil', 'Americas', 2307162.0, 2025, 2173666.0, 2023, 1920095.0, 2022]
---
['Russia', 'Europe', 2195708.0, 2025, 2021421.0, 2023, 2240422.0, 2022]
---
['South Korea', 'Asia', 1947133.0, 2025, 1712793.0, 2023, 1673916.0, 2022]
---
['Australia', 'Oceania', 1881140.0, 2025, 1723827.0, 2023, 1776577.0, 2022]
---
['Spain', 'Europe', 1827576.0, 2025, 1580695.0, 2023, 1415874.0, 2022]
---
['Mexico', 'Americas', 1817818.0, 2025, 1788887.0, 2023, 1463323.0, 2022]
---
['Indonesia', 'Asia', 1492618.0, 2025, 1371171.0, 2023, 1319100.0, 2022]
---
['Turkey', 'Asia', 1455413.0, 2025, 1108022.0, 2023, 907118.0, 2022]
---
['Netherlands', 'Europe', 1272960.0, 2025, 1118125.0, 2023, 1008027.0, 2022]
---
['Saudi Arabia', 'Asia', 1136580.0, 2025, 1067583.0, 2023, 1108148.0, 2022]
---
['Switzerland', 'Europe', 999604.0, 2025, 884940.0, 2023, 818426.0, 2022]
---
['Poland', 'Europe', 915451.0, 2025, 811229.0, 2023, 688125.0, 2022]
---
['Taiwan', 'Asia', 814438.0, 2025, 0.0, 0, 0.0, 0]
---
['Belgium', 'Europe', 689364.0, 2025, 632217.0, 2023, 582643.0, 2022]
---
['Sweden', 'Europe', 638780.0, 2025, 593268.0, 2023, 591188.0, 2022]
---
['Ireland', 'Europe', 587225.0, 2025, 545629.0, 2023, 532415.0, 2022]
---
['Argentina', 'Americas', 574201.0, 2025, 640591.0, 2023, 631133.0, 2022]
---
['United Arab Emirates', 'Asia', 568567.0, 2025, 504173.0, 2023, 507063.0, 2022]
---
['Singapore', 'Asia', 561725.0, 2025, 501428.0, 2023, 466788.0, 2022]
---
['Austria', 'Europe', 559218.0, 2025, 516034.0, 2023, 470302.0, 2022]
---
['Israel', 'Asia', 550905.0, 2025, 509902.0, 2023, 525002.0, 2022]
---
['Thailand', 'Asia', 545341.0, 2025, 514945.0, 2023, 495340.0, 2022]
---
['Norway', 'Europe', 503466.0, 2025, 485513.0, 2023, 579422.0, 2022]
---
['Malaysia', 'Asia', 488250.0, 2025, 399649.0, 2023, 406305.0, 2022]
---
['Philippines', 'Asia', 471516.0, 2025, 437146.0, 2023, 404284.0, 2022]
---
['Vietnam', 'Asia', 468400.0, 2025, 429717.0, 2023, 408802.0, 2022]
---
['Iran', 'Asia', 463747.0, 2025, 401505.0, 2023, 398047.0, 2022]
---
['Bangladesh', 'Asia', 451856.0, 2025, 437415.0, 2023, 432677.0, 2022]
---
['Denmark', 'Europe', 431228.0, 2025, 404199.0, 2023, 400167.0, 2022]
---
['Hong Kong', 'Asia', 422057.0, 2025, 382055.0, 2023, 359838.0, 2022]
---
['Colombia', 'Americas', 419331.0, 2025, 363540.0, 2023, 343939.0, 2022]
---
['South Africa', 'Africa', 418046.0, 2025, 377782.0, 2023, 405270.0, 2022]
---
['Romania', 'Europe', 406202.0, 2025, 351003.0, 2023, 300690.0, 2022]
---
['Egypt', 'Africa', 380044.0, 2025, 395926.0, 2023, 409306.0, 2022]
---
['Pakistan', 'Asia', 374595.0, 2024, 338368.0, 2023, 326796.0, 2022]
---
['Chile', 'Americas', 362240.0, 2025, 335533.0, 2023, 300686.0, 2022]
---
['Czech Republic', 'Europe', 360233.0, 2025, 330858.0, 2023, 290527.0, 2022]
---
['Finland', 'Europe', 319989.0, 2025, 300187.0, 2023, 282511.0, 2022]
---
['Portugal', 'Europe', 319934.0, 2025, 287080.0, 2023, 254849.0, 2022]
---
['Kazakhstan', 'Asia', 306629.0, 2025, 261421.0, 2023, 225496.0, 2022]
---
['Peru', 'Americas', 294898.0, 2025, 267603.0, 2023, 242631.0, 2022]
---
['Iraq', 'Asia', 270874.0, 2025, 250843.0, 2023, 264182.0, 2022]
---
['Greece', 'Europe', 265171.0, 2025, 238206.0, 2023, 217285.0, 2022]
---
['Algeria', 'Africa', 264270.0, 2025, 239899.0, 2023, 191912.0, 2022]
---
['New Zealand', 'Oceania', 262924.0, 2025, 253466.0, 2023, 245845.0, 2022]
---
['Hungary', 'Europe', 245619.0, 2025, 212389.0, 2023, 177337.0, 2022]
---
['Qatar', 'Asia', 226217.0, 2025, 235770.0, 2022, 237101.0, 2022]
---
['Nigeria', 'Africa', 194955.0, 2025, 362815.0, 2023, 475058.0, 2022]
---
['Ukraine', 'Europe', 189827.0, 2025, 178757.0, 2023, 160502.0, 2022]
---
['Morocco', 'Africa', 168597.0, 2025, 141109.0, 2023, 130912.0, 2022]
---
['Kuwait', 'Asia', 161950.0, 2025, 161772.0, 2023, 175363.0, 2022]
---
['Cuba', 'Americas', 0.0, 0, 0.0, 0, 147193.0, 2022]
---
['Ethiopia', 'Africa', 145031.0, 2024, 163698.0, 2023, 118971.0, 2022]
---
['Slovakia', 'Europe', 142617.0, 2024, 132794.0, 2023, 115304.0, 2022]
---
['Dominican Republic', 'Americas', 126238.0, 2024, 121444.0, 2023, 113537.0, 2022]
---
['Ecuador', 'Americas', 121425.0, 2024, 118845.0, 2023, 115049.0, 2022]
---
['Puerto Rico', 'Americas', 120971.0, 2024, 117902.0, 2023, 113434.0, 2022]
---
['Kenya', 'Africa', 116321.0, 2024, 107441.0, 2023, 113419.0, 2022]
---
['Angola', 'Africa', 113286.0, 2024, 84773.0, 2023, 113304.0, 2022]
---
['Uzbekistan', 'Asia', 112653.0, 2024, 90889.0, 2023, 80391.0, 2022]
---
['Guatemala', 'Americas', 112369.0, 2024, 102050.0, 2023, 95003.0, 2022]
---
['Oman', 'Asia', 109993.0, 2024, 108192.0, 2023, 114666.0, 2022]
---
['Bulgaria', 'Europe', 108425.0, 2024, 101584.0, 2023, 90213.0, 2022]
---
['Venezuela', 'Americas', 106327.0, 2024, 0.0, 0, 129313.0, 2022]
---
['Costa Rica', 'Americas', 95149.0, 2024, 86498.0, 2023, 68380.0, 2022]
---
['Luxembourg', 'Europe', 91210.0, 2024, 85755.0, 2023, 81530.0, 2022]
---
['Croatia', 'Europe', 89665.0, 2024, 82689.0, 2023, 71552.0, 2022]
---
['Panama', 'Americas', 87347.0, 2024, 83382.0, 2023, 76522.0, 2022]
---
['Ivory Coast', 'Africa', 86993.0, 2024, 78789.0, 2023, 70018.0, 2022]
---
['Sri Lanka', 'Asia', 74846.0, 2022, 84357.0, 2023, 76187.0, 2022]
---
['Turkmenistan', 'Asia', 83883.0, 2024, 59887.0, 2023, 67009.0, 2022]
---
['Lithuania', 'Europe', 82789.0, 2024, 77836.0, 2023, 70878.0, 2022]
---
['Uruguay', 'Americas', 82605.0, 2024, 77241.0, 2023, 71171.0, 2022]
---
['Serbia', 'Europe', 82550.0, 2024, 75187.0, 2023, 63563.0, 2022]
---
['Tanzania', 'Africa', 79867.0, 2024, 79158.0, 2023, 73535.0, 2022]
---
['Azerbaijan', 'Asia', 75649.0, 2024, 72356.0, 2023, 78721.0, 2022]
---
['Ghana', 'Africa', 75307.0, 2024, 76370.0, 2023, 73766.0, 2022]
---
['Slovenia', 'Europe', 73198.0, 2024, 68217.0, 2023, 59981.0, 2022]
---
['Belarus', 'Europe', 73129.0, 2024, 71857.0, 2023, 72873.0, 2022]
---
['DR Congo', 'Africa', 72483.0, 2024, 66383.0, 2023, 62551.0, 2022]
---
['Myanmar', 'Asia', 64284.0, 2024, 64815.0, 2023, 65211.0, 2022]
---
['Uganda', 'Africa', 55587.0, 2024, 49273.0, 2023, 48243.0, 2022]
---
['Macau', 'Asia', 53447.0, 2024, 47062.0, 2023, 24042.0, 2022]
---
['Cameroon', 'Africa', 53391.0, 2024, 47946.0, 2023, 44341.0, 2022]
---
['Jordan', 'Asia', 53305.0, 2024, 50814.0, 2023, 47452.0, 2022]
---
['Tunisia', 'Africa', 52636.0, 2024, 48530.0, 2023, 46181.0, 2022]
---
['Bolivia', 'Americas', 48172.0, 2024, 45850.0, 2023, 44008.0, 2022]
---
['Bahrain', 'Asia', 47812.0, 2024, 43205.0, 2023, 44382.0, 2022]
---
['Cambodia', 'Asia', 47147.0, 2024, 31773.0, 2023, 29504.0, 2022]
---
['Latvia', 'Europe', 45521.0, 2024, 43627.0, 2023, 40876.0, 2022]
---
['Paraguay', 'Americas', 44937.0, 2024, 42956.0, 2023, 41722.0, 2022]
---
['Libya', 'Africa', 44812.0, 2024, 50492.0, 2023, 40537.0, 2022]
---
['Nepal', 'Asia', 43673.0, 2024, 40908.0, 2023, 39406.0, 2022]
---
['Estonia', 'Europe', 43044.0, 2024, 40745.0, 2023, 38049.0, 2022]
---
['Honduras', 'Americas', 36735.0, 2024, 34401.0, 2023, 31717.0, 2022]
---
['Zimbabwe', 'Africa', 35919.0, 2024, 26538.0, 2023, 26418.0, 2022]
---
['El Salvador', 'Americas', 35848.0, 2024, 34016.0, 2023, 32488.0, 2022]
---
['Cyprus', 'Asia', 34790.0, 2024, 32230.0, 2023, 29210.0, 2022]
---
['Senegal', 'Africa', 33685.0, 2024, 31014.0, 2023, 27775.0, 2022]
---
['Georgia', 'Asia', 33191.0, 2024, 30536.0, 2023, 24605.0, 2022]
---
['Iceland', 'Europe', 32919.0, 2024, 31020.0, 2023, 28064.0, 2022]
---
['Papua New Guinea', 'Oceania', 31716.0, 2024, 30933.0, 2022, 31609.0, 2022]
---
['Zambia', 'Africa', 29872.0, 2024, 28163.0, 2023, 29136.0, 2022]
---
['Bosnia and Herzegovina', 'Europe', 29078.0, 2024, 27055.0, 2023, 24473.0, 2022]
---
['Trinidad and Tobago', 'Americas', 28365.0, 2024, 28140.0, 2023, 30053.0, 2022]
---
['Sudan', 'Africa', 26865.0, 2024, 109327.0, 2023, 36729.0, 2022]
---
['Guinea', 'Africa', 25447.0, 2024, 23612.0, 2023, 20846.0, 2022]
---
['Albania', 'Europe', 25431.0, 2024, 22978.0, 2023, 18916.0, 2022]
---
['Armenia', 'Asia', 25408.0, 2024, 24212.0, 2023, 19513.0, 2022]
---
['Haiti', 'Americas', 24046.0, 2024, 19851.0, 2023, 18751.0, 2022]
---
['Mozambique', 'Africa', 22975.0, 2024, 20625.0, 2023, 18406.0, 2022]
---
['Malta', 'Europe', 22737.0, 2024, 20957.0, 2023, 18100.0, 2022]
---
['Mongolia', 'Asia', 21943.0, 2024, 19872.0, 2023, 17146.0, 2022]
---
['Burkina Faso', 'Africa', 21902.0, 2024, 20325.0, 2023, 19176.0, 2022]
---
['Mali', 'Africa', 21662.0, 2024, 20905.0, 2023, 18827.0, 2022]
---
['Botswana', 'Africa', 21418.0, 2024, 19396.0, 2023, 20352.0, 2022]
---
['Benin', 'Africa', 21371.0, 2024, 19673.0, 2023, 17396.0, 2022]
---
['Guyana', 'Americas', 21178.0, 2024, 16786.0, 2023, 14718.0, 2022]
---
['Gabon', 'Africa', 21013.0, 2024, 20516.0, 2023, 20132.0, 2022]
---
['Jamaica', 'Americas', 20098.0, 2024, 19423.0, 2023, 17097.0, 2022]
---
['Nicaragua', 'Americas', 18829.0, 2024, 17829.0, 2023, 15671.0, 2022]
---
['Niger', 'Africa', 18816.0, 2024, 16819.0, 2023, 15414.0, 2022]
---
['Chad', 'Africa', 18697.0, 2024, 13149.0, 2023, 16799.0, 2022]
---
['Palestine', 'Asia', 18602.0, 2023, 17396.0, 2023, 19111.0, 2022]
---
['Syria', 'Asia', 0.0, 0, 8980.0, 2021, 18595.0, 2022]
---
['Moldova', 'Europe', 18356.0, 2024, 16539.0, 2023, 14510.0, 2022]
---
['Lebanon', 'Asia', 21780.0, 2022, 17937.0, 2023, 39303.0, 2022]
---
['Yemen', 'Asia', 16940.0, 2024, 0.0, 0, 11007.0, 2022]
---
['Madagascar', 'Africa', 16465.0, 2024, 16032.0, 2023, 14954.0, 2022]
---
['Mauritius', 'Africa', 16359.0, 2024, 14397.0, 2023, 12898.0, 2022]
---
['North Macedonia', 'Europe', 15873.0, 2024, 14761.0, 2023, 13711.0, 2022]
---
['Kyrgyzstan', 'Asia', 15770.0, 2024, 13782.0, 2023, 12560.0, 2022]
---
['Brunei', 'Asia', 15510.0, 2024, 15128.0, 2023, 16681.0, 2022]
---
['Congo', 'Africa', 15501.0, 2024, 15321.0, 2023, 15344.0, 2022]
---
['Laos', 'Asia', 15190.0, 2024, 15843.0, 2023, 15362.0, 2022]
---
['North Korea', 'Asia', 0.0, 0, 0.0, 0, 15176.0, 2022]
---
['Afghanistan', 'Asia', 14467.0, 2022, 14502.0, 2022, 14174.0, 2022]
---
['Bahamas', 'Americas', 14390.0, 2024, 14339.0, 2023, 12897.0, 2022]
---
['Rwanda', 'Africa', 13701.0, 2024, 14098.0, 2023, 13312.0, 2022]
---
['Tajikistan', 'Asia', 13000.0, 2024, 12061.0, 2023, 10492.0, 2022]
---
['Somalia', 'Africa', 12804.0, 2024, 11680.0, 2023, 10420.0, 2022]
---
['Namibia', 'Africa', 12765.0, 2024, 12351.0, 2023, 12607.0, 2022]
---
['Kosovo', 'Europe', 11318.0, 2024, 10438.0, 2023, 9397.0, 2022]
---
['Malawi', 'Africa', 11241.0, 2024, 14084.0, 2023, 12558.0, 2022]
---
['Equatorial Guinea', 'Africa', 10708.0, 2024, 12117.0, 2023, 11767.0, 2022]
---
['Mauritania', 'Africa', 10628.0, 2024, 10453.0, 2023, 10997.0, 2022]
---
['Togo', 'Africa', 9832.0, 2024, 9171.0, 2023, 8087.0, 2022]
---
['New Caledonia', 'Oceania', 0.0, 0, 9623.0, 2022, 9623.0, 2022]
---
['Monaco', 'Europe', 0.0, 0, 8784.0, 2022, 8772.0, 2022]
---
['Montenegro', 'Europe', 8010.0, 2024, 7405.0, 2023, 6229.0, 2022]
---
['Bermuda', 'Americas', 0.0, 0, 7828.0, 2022, 7546.0, 2022]
---
['Liechtenstein', 'Europe', 0.0, 0, 7365.0, 2022, 7757.0, 2022]
---
['Maldives', 'Asia', 7199.0, 2024, 6600.0, 2023, 6170.0, 2022]
---
['Barbados', 'Americas', 6863.0, 2024, 6394.0, 2023, 5699.0, 2022]
---
['Cayman Islands', 'Americas', 0.0, 0, 6601.0, 2022, 6281.0, 2022]
---
['South Sudan', 'Africa', 6517.0, 2024, 0.0, 0, 4616.0, 2022]
---
['French Polynesia', 'Oceania', 0.0, 0, 5815.0, 2022, 5814.0, 2022]
---
['Fiji', 'Oceania', 5801.0, 2024, 5495.0, 2023, 4979.0, 2022]
---
['Eswatini', 'Africa', 5085.0, 2024, 4598.0, 2023, 4326.0, 2022]
---
['Liberia', 'Africa', 4754.0, 2024, 4332.0, 2023, 3265.0, 2022]
---
['Sierra Leone', 'Africa', 4558.0, 2024, 3810.0, 2023, 3481.0, 2022]
---
['Djibouti', 'Africa', 4364.0, 2024, 4099.0, 2023, 4003.0, 2022]
---
['Suriname', 'Americas', 4337.0, 2024, 3782.0, 2023, 3620.0, 2022]
---
['Aruba', 'Americas', 4069.0, 2024, 3545.0, 2022, 3544.0, 2022]
---
['Andorra', 'Europe', 3897.0, 2024, 3728.0, 2023, 3376.0, 2022]
---
['Belize', 'Americas', 3296.0, 2024, 3282.0, 2023, 2830.0, 2022]
---
['Bhutan', 'Asia', 3110.0, 2024, 2898.0, 2022, 2898.0, 2022]
---
['Burundi', 'Africa', 3075.0, 2024, 2642.0, 2023, 4032.0, 2022]
---
['Curaçao', 'Americas', 0.0, 0, 3074.0, 2022, 3075.0, 2022]
---
['Greenland', 'Americas', 0.0, 0, 3236.0, 2021, 2926.0, 2022]
---
['Central African Republic', 'Africa', 2810.0, 2024, 2555.0, 2023, 2395.0, 2022]
---
['Cape Verde', 'Africa', 2718.0, 2024, 2587.0, 2023, 2314.0, 2022]
---
['Gambia', 'Africa', 2694.0, 2024, 2340.0, 2023, 2231.0, 2022]
---
['Saint Lucia', 'Americas', 2582.0, 2024, 2520.0, 2023, 2165.0, 2022]
---
['Lesotho', 'Africa', 2395.0, 2024, 2046.0, 2023, 2287.0, 2022]
---
['Eritrea', 'Africa', 0.0, 0, 0.0, 0, 2383.0, 2022]
---
['Zanzibar', 'Africa', 0.0, 0, 0.0, 0, 2361.0, 2022]
---
['Seychelles', 'Africa', 2203.0, 2024, 2141.0, 2023, 1994.0, 2022]
---
['Guinea-Bissau', 'Africa', 2151.0, 2024, 1966.0, 2023, 1574.0, 2022]
---
['Antigua and Barbuda', 'Americas', 2127.0, 2024, 2033.0, 2023, 1770.0, 2022]
---
['San Marino', 'Europe', 2033.0, 2024, 1855.0, 2021, 1780.0, 2022]
---
['East Timor', 'Asia', 1992.0, 2024, 2243.0, 2023, 3204.0, 2022]
---
['Solomon Islands', 'Oceania', 1707.0, 2024, 1631.0, 2023, 1597.0, 2022]
---
['Sint Maarten', 'Americas', 0.0, 0, 1623.0, 2023, 1572.0, 2022]
---
['Comoros', 'Africa', 1422.0, 2024, 1352.0, 2023, 1246.0, 2022]
---
['Grenada', 'Americas', 1406.0, 2024, 1320.0, 2023, 1192.0, 2022]
---
['Turks and Caicos Islands', 'Americas', 0.0, 0, 1402.0, 2023, 1138.0, 2022]
---
['Vanuatu', 'Oceania', 1289.0, 2024, 1126.0, 2023, 985.0, 2022]
---
['Saint Kitts and Nevis', 'Americas', 1134.0, 2024, 1077.0, 2023, 979.0, 2022]
---
['Saint Vincent and the Grenadines', 'Americas', 1128.0, 2024, 1066.0, 2023, 946.0, 2022]
---
['Samoa', 'Oceania', 1024.0, 2024, 934.0, 2023, 857.0, 2022]
---
['São Tomé and Príncipe', 'Africa', 751.0, 2024, 603.0, 2023, 546.0, 2022]
---
['Dominica', 'Americas', 708.0, 2024, 654.0, 2023, 612.0, 2022]
---
['Tonga', 'Oceania', 581.0, 2024, 500.0, 2022, 488.0, 2022]
---
['Micronesia', 'Oceania', 484.0, 2024, 460.0, 2023, 427.0, 2022]
---
['Kiribati', 'Oceania', 311.0, 2024, 279.0, 2023, 223.0, 2022]
---
['Palau', 'Oceania', 308.0, 2024, 263.0, 2023, 225.0, 2022]
---
['Marshall Islands', 'Oceania', 305.0, 2024, 284.0, 2023, 279.0, 2022]
---
['Nauru', 'Oceania', 161.0, 2024, 154.0, 2023, 147.0, 2022]
---
['Tuvalu', 'Oceania', 66.0, 2024, 62.0, 2023, 59.0, 2022]
---

In [338]:
# DataFrame 컬럼 리스트 생성
tempColumn = head[1].text.strip('\n').split('\n')
columnList = [category, 'region'] + tempColumn

In [345]:
# 모든 기관의 정보가 담긴 DataFrame
gdpDf = pd.DataFrame(infoAll, columns=columnList)
gdpDf

,Country/Territory,region,Forecast,Year,Estimate,Year,Estimate,Year
0,United States,Americas,30337162.0,2025,27360935.0,2023,25744100.0,2022
1,China,Asia,19534894.0,2025,17794782.0,2023,17963170.0,2022
2,Germany,Europe,4921563.0,2025,4456081.0,2023,4076923.0,2022
3,Japan,Asia,4389326.0,2025,4212945.0,2023,4232173.0,2022
4,India,Asia,4271922.0,2025,3549919.0,2023,3465541.0,2022
...,...,...,...,...,...,...,...,...
204,Kiribati,Oceania,311.0,2024,279.0,2023,223.0,2022
205,Palau,Oceania,308.0,2024,263.0,2023,225.0,2022
206,Marshall Islands,Oceania,305.0,2024,284.0,2023,279.0,2022
207,Nauru,Oceania,161.0,2024,154.0,2023,147.0,2022
208,Tuvalu,Oceania,66.0,2024,62.0,2023,59.0,2022

In [346]:
# IMF의 정보만 분리
gdpImf = gdpDf.iloc[:,:4]
gdpImf['Forecast'] = round((gdpImf['Forecast'] / 1000), 2)
gdpImf.sort_values('Forecast', ascending=False, inplace=True)
gdpImf.reset_index(drop=True, inplace=True)
gdpImf

    Country/Territory    region  Forecast  Year
0       United States  Americas  30337.16  2025
1               China      Asia  19534.89  2025
2             Germany    Europe   4921.56  2025
3               Japan      Asia   4389.33  2025
4               India      Asia   4271.92  2025
..                ...       ...       ...   ...
204           Bermuda  Americas      0.00     0
205            Monaco    Europe      0.00     0
206       North Korea      Asia      0.00     0
207             Syria      Asia      0.00     0
208     New Caledonia   Oceania      0.00     0

[209 rows x 4 columns]

In [347]:
# GDP가 100B 이상 국가
gdpImf[gdpImf['Forecast'] > 100]

   Country/Territory    region  Forecast  Year
0      United States  Americas  30337.16  2025
1              China      Asia  19534.89  2025
2            Germany    Europe   4921.56  2025
3              Japan      Asia   4389.33  2025
4              India      Asia   4271.92  2025
..               ...       ...       ...   ...
67        Uzbekistan      Asia    112.65  2024
68         Guatemala  Americas    112.37  2024
69              Oman      Asia    109.99  2024
70          Bulgaria    Europe    108.42  2024
71         Venezuela  Americas    106.33  2024

[72 rows x 4 columns]

In [417]:
# 각 Region 별 상위 5개국 평균 GDP
gdpImfGrouped = gdpImf.set_index(['region'])
temp = gdpImfGrouped.sort_values(by=['region', 'Forecast'], ascending=[True, False]).groupby('region').head(5)['Forecast']
gdpRegion = temp.groupby(temp.index).mean()
gdpRegion

region
Africa       285.184
Americas    7473.330
Asia        6327.178
Europe      3318.112
Oceania      436.658
Name: Forecast, dtype: float64